flow.json
[{"id":"e3cbac21.52804","type":"tab","label":"Receive Page & Add to DB","disabled":false,"info":""},{"id":"71697e01.9871a","type":"tab","label":"Pager Dynamic Display","disabled":false,"info":""},{"id":"8ad92631.0da208","type":"websocket-listener","z":"","path":"/log-full/send","wholemsg":"true"},{"id":"c0402614.f01608","type":"websocket-listener","z":"","path":"/log-daily/receive","wholemsg":"true"},{"id":"aae6ab09.c69b28","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"false","out":"interbyte","addchar":false,"responsetimeout":""},{"id":"32989c5a.d6ee14","type":"websocket-listener","z":"","path":"/log-full/receive","wholemsg":"true"},{"id":"7016657f.45b3ec","type":"websocket-listener","z":"","path":"/ws/export","wholemsg":"false"},{"id":"ff68c365.94b25","type":"websocket-listener","z":"","path":"/ws/sender","wholemsg":"false"},{"id":"d9d1357a.d4f118","type":"websocket-listener","z":"","path":"/display/receive","wholemsg":"true"},{"id":"95962f80.19ef3","type":"websocket-listener","z":"","path":"/display/send","wholemsg":"false"},{"id":"c7526c07.3fd51","type":"websocket-listener","z":"","path":"/log-daily/send","wholemsg":"true"},{"id":"66911507.b23eac","type":"websocket-listener","z":"","path":"/settings/send","wholemsg":"true"},{"id":"70e142c2.27546c","type":"websocket-listener","z":"","path":"/settings/receive","wholemsg":"true"},{"id":"c78d8a51.8b8ed8","type":"websocket-listener","z":"","path":"/export/send","wholemsg":"true"},{"id":"b7dfd67b.7d7948","type":"websocket-listener","z":"","path":"/export/receive","wholemsg":"true"},{"id":"18f900b5.35f87f","type":"websocket-listener","z":"","path":"/export/alert","wholemsg":"false"},{"id":"fbe048ec.4af8a8","type":"websocket-listener","z":"","path":"/settings/alert","wholemsg":"false"},{"id":"fd38eee5.8bd8a","type":"sqlitedb","z":0,"db":"/home/Ingenso/CaptureCall.db","mode":"RWC"},{"id":"e1c85b2c.abed18","type":"json-db-collection","z":0,"name":"","collection":"settings","save":true},{"id":"4710f982.70cf68","type":"comment","z":"71697e01.9871a","name":"Put Unprocessed On the Webpage","info":"","x":180,"y":140,"wires":[]},{"id":"e0f58654.122608","type":"http in","z":"71697e01.9871a","name":"","url":"/display","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["5aa898df.272f88"]]},{"id":"89d5fad5.1b2d28","type":"template","z":"71697e01.9871a","name":"Select Active Data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT `index`, `pagerNumber`, `sysID`, `content`, `msgPart1`, `msgPart2`, `sender`, `rxTime`, `status`\nFROM `log`\nWHERE  `status` = 'Active' OR `status` = 'Late'\nORDER BY  `rxTime` DESC ","output":"str","x":290,"y":200,"wires":[["a45c314.83bc1d"]]},{"id":"f7505d48.4c652","type":"websocket out","z":"71697e01.9871a","name":"","server":"d9d1357a.d4f118","client":"","x":1340,"y":200,"wires":[]},{"id":"ec0a00fc.9e591","type":"comment","z":"71697e01.9871a","name":"Build Webpage","info":"","x":120,"y":20,"wires":[]},{"id":"a45c314.83bc1d","type":"sqlite","z":"71697e01.9871a","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":470,"y":200,"wires":[["72452c.01ccdad4"]]},{"id":"7392b6bc.a14758","type":"template","z":"71697e01.9871a","name":"Build Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div class=\"nested\">\n        <div class=\"bold\">Index</div>\n        <div class=\"bold\">Location</div>\n        <div class=\"bold\">Message</div>\n        <div class=\"bold\">Time</div>\n        <div class=\"bold\">Date</div>\n        <div class=\"bold\">Elapsed</div>\n      </div>\n{{#payload}}\n  <div class=\"nested {{style}}\" onclick= send.send('{{index}}')>\n        <div>{{{index}}}</div>\n        <div>{{{msgPart1}}}</div>\n        <div>{{{msgPart2}}}</div>\n        <div>{{{displayTime}}}</div>\n        <div>{{{displayDate}}}</div>\n        <div>{{{elapsed}}}</div>\n      </div>\n{{/payload}}","output":"str","x":1150,"y":200,"wires":[["f7505d48.4c652"]]},{"id":"bb825032.7b416","type":"function","z":"71697e01.9871a","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n   var rxtime = new Date(msg.payload[i].rxTime);\n                var displayDate = rxtime.toLocaleDateString();\n                var displayTime = rxtime.toLocaleTimeString();\n                \n                msg.payload[i].displayDate = displayDate\n                msg.payload[i].displayTime = displayTime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["f2e91aec.429a48"]]},{"id":"f2e91aec.429a48","type":"function","z":"71697e01.9871a","name":"Time elapsed","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n   var rxtime = msg.payload[i].rxTime;\n   var now = Date.now();\n   \nvar elapsedTS = now -rxtime;\nvar elapsedS = parseInt(elapsedTS / 1000);\n\nvar date = new Date(null);  \ndate.setSeconds(elapsedS); // specify value for SECONDS here\nvar elapsed = date.toISOString().substr(11, 8);        \n\nmsg.payload[i].elapsed = elapsed\n\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":200,"wires":[["7392b6bc.a14758"]]},{"id":"59111fba.a2419","type":"inject","z":"71697e01.9871a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["89d5fad5.1b2d28"]]},{"id":"1833996c.e996c7","type":"http in","z":"71697e01.9871a","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":90,"y":60,"wires":[["5aa898df.272f88"]]},{"id":"fda68550.35cc08","type":"websocket in","z":"71697e01.9871a","name":"","server":"95962f80.19ef3","client":"","x":130,"y":300,"wires":[["8aadd40d.caf278"]]},{"id":"f9e6a6b0.64ce98","type":"comment","z":"71697e01.9871a","name":"Hide Message on Click","info":"","x":140,"y":260,"wires":[]},{"id":"2f89d261.991ebe","type":"template","z":"71697e01.9871a","name":"Update Active to Handled","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE `log` SET status = 'Manually Removed', statusTime = '{{timestamp}}' WHERE `index` = {{payload}};","output":"str","x":610,"y":300,"wires":[["3751227c.3c408e"]]},{"id":"3751227c.3c408e","type":"sqlite","z":"71697e01.9871a","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":810,"y":300,"wires":[["320906f1.fd1fba"]]},{"id":"320906f1.fd1fba","type":"link out","z":"71697e01.9871a","name":"","links":["13c2aaaa.74d295","f8b2c7bc.b77368","ed29f70d.9b66f8","f72ff61b.e8d618"],"x":915,"y":300,"wires":[]},{"id":"d0672168.f9cc3","type":"change","z":"71697e01.9871a","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["2f89d261.991ebe"]]},{"id":"72452c.01ccdad4","type":"function","z":"71697e01.9871a","name":"Set Style","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n    \n  if (msg.payload[i].status == \"Late\") {\n    msg.payload[i].style = \"flash bold\"\n} else {\n    msg.payload[i].style = \"\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["bb825032.7b416"]]},{"id":"c3a1b49e.752c48","type":"switch","z":"e3cbac21.52804","name":"Filter Address","property":"sysID","propertyType":"msg","rules":[{"t":"eq","v":"sysID","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":100,"wires":[["c94a9d48.9c2c","bb983eee.bde5b"]]},{"id":"1ae8cc9.0850d33","type":"comment","z":"e3cbac21.52804","name":"Receive Page","info":"","x":110,"y":40,"wires":[]},{"id":"9cb10731.0e0a38","type":"serial in","z":"e3cbac21.52804","name":"","serial":"aae6ab09.c69b28","x":110,"y":100,"wires":[["b47a3123.3b208"]]},{"id":"b47a3123.3b208","type":"switch","z":"e3cbac21.52804","name":"MSG Type","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"[","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":100,"wires":[["bfec026c.c4148"],["d6264d72.9b56e"]]},{"id":"bfec026c.c4148","type":"function","z":"e3cbac21.52804","name":"LRS Process Group Message","func":"var payload = msg.payload;\nvar Totallength = payload.length;\n\nvar page = payload.substring(9, Totallength -2);\n\n\nvar str = \"\" + page;\nvar split = str.split(\",\");\nvar contentlength = split[1].length\n\n\n\nvar capcode = split[0];\nvar str = capcode.toString();\nvar strLength = str.length;\nvar pagerStr = str.substring(strLength - 5, strLength);\nvar pagercalc1 = parseInt(pagerStr);\nvar pager = pagercalc1/8;\n\nvar syscode = ((capcode - pagercalc1)-700000)/100000;\n\nif (page.endsWith(\" \")) {\n    var message= split[1].substring(4,contentlength-1)\nvar tidyMessage = message.trim();\n    msg.sender = \"0\"\n} else {\n    var message= split[1].substring(4,contentlength-2)\nvar tidyMessage = message.trim();\n    var sender = split[1].substring(contentlength-2,contentlength)\n    var tidySender = sender.trim();\n    msg.sender = tidySender;\n}\n\nvar group= split[1].substring(0,4)\n\nmsg.capcode = split[0];\nmsg.pagerNumber = group;\nmsg.sysID = syscode\nmsg.content = tidyMessage;\nmsg.payload = page\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["7e312125.1eb7b"]]},{"id":"d6264d72.9b56e","type":"function","z":"e3cbac21.52804","name":"LRS Process Normal Message","func":"var payload = msg.payload;\nvar Totallength = payload.length;\n\nvar page = payload.substring(9, Totallength -2);\n\n\nvar str = \"\" + page;\nvar split = str.split(\",\");\nvar contentlength = split[1].length\n\n\n\nvar capcode = split[0];\nvar str = capcode.toString();\nvar strLength = str.length;\nvar pagerStr = str.substring(strLength - 5, strLength);\nvar pagercalc1 = parseInt(pagerStr);\nvar pager = pagercalc1/8;\n\nvar syscode = ((capcode - pagercalc1)-700000)/100000;\n\nif (page.endsWith(\" \")) {\n    var message= split[1].substring(0,contentlength-1)\nvar tidyMessage = message.trim();\n    msg.sender = \"0\"\n} else {\n    var message= split[1].substring(0,contentlength-2)\nvar tidyMessage = message.trim();\n    var sender = split[1].substring(contentlength-2,contentlength)\n    var tidySender = sender.trim();\n    msg.sender = tidySender;\n}\n\n\nmsg.capcode = split[0];\nmsg.pagerNumber = pager\nmsg.sysID = syscode\nmsg.content = tidyMessage;\nmsg.payload = page\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["7e312125.1eb7b"]]},{"id":"7e312125.1eb7b","type":"function","z":"e3cbac21.52804","name":"Split Content into 2","func":"var payload = msg.content;\n\nvar str = \"\" + payload;\nvar split = str.split(\"-\");\n\nmsg.msgPart1 = split[0];\nmsg.msgPart2 = split[1];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":100,"wires":[["c3a1b49e.752c48"]]},{"id":"2c9aa8ef.13b0c8","type":"template","z":"e3cbac21.52804","name":"Add Msg to DB as Active","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` ('capcode', 'pagerNumber', 'sysID', 'content', 'msgPart1', 'msgPart2', 'sender', 'rxTime', 'status', 'statusTime') VALUES ('{{capcode}}', '{{pagerNumber}}', '{{sysID}}', '{{content}}', '{{msgPart1}}', '{{msgPart2}}', '{{sender}}','{{timestamp}}', 'Active', '{{timestamp}}');","output":"str","x":570,"y":280,"wires":[["e31cbdba.c8c1e"]]},{"id":"e31cbdba.c8c1e","type":"sqlite","z":"e3cbac21.52804","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":790,"y":240,"wires":[["5652483b.e30f08"]]},{"id":"396b6af1.e70666","type":"change","z":"e3cbac21.52804","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":240,"wires":[["7ff8ead9.3d3964"]]},{"id":"7ff8ead9.3d3964","type":"switch","z":"e3cbac21.52804","name":"Check Msg Type","property":"content","propertyType":"msg","rules":[{"t":"cont","v":"Handled","vt":"str"},{"t":"cont","v":"Late","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":240,"wires":[["1b9c71c9.9f587e"],["7bab33a7.c9082c"],["2c9aa8ef.13b0c8"]]},{"id":"7bab33a7.c9082c","type":"template","z":"e3cbac21.52804","name":"Add Msg to DB as Late","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` ('capcode', 'pagerNumber', 'sysID', 'content', 'msgPart1', 'msgPart2', 'sender', 'rxTime', 'status', 'statusTime') VALUES ('{{capcode}}', '{{pagerNumber}}', '{{sysID}}', '{{content}}', '{{msgPart1}}', '{{msgPart2}}', '{{sender}}','{{timestamp}}', 'Late', '{{timestamp}}');","output":"str","x":570,"y":240,"wires":[["e31cbdba.c8c1e"]]},{"id":"1b9c71c9.9f587e","type":"template","z":"e3cbac21.52804","name":"Add Msg to DB as Handled","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `log` ('capcode', 'pagerNumber', 'sysID', 'content', 'msgPart1', 'msgPart2', 'sender', 'rxTime', 'status', 'statusTime') VALUES ('{{capcode}}', '{{pagerNumber}}', '{{sysID}}', '{{content}}', '{{msgPart1}}', '{{msgPart2}}', '{{sender}}','{{timestamp}}', 'Attended', '{{timestamp}}');","output":"str","x":580,"y":200,"wires":[["39259c6c.321234"]]},{"id":"61c3188a.69cf28","type":"template","z":"e3cbac21.52804","name":"Update Active to Handled","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE `log` SET status = 'Handled', statusTime = '{{timestamp}}' WHERE `sender` = {{sender}} AND `status` = 'Active';","output":"str","x":990,"y":200,"wires":[["51abf5f2.9454cc"]]},{"id":"51abf5f2.9454cc","type":"sqlite","z":"e3cbac21.52804","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":1190,"y":200,"wires":[["fb714f6.286fcb"]]},{"id":"39259c6c.321234","type":"sqlite","z":"e3cbac21.52804","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":790,"y":200,"wires":[["61c3188a.69cf28"]]},{"id":"bc4b27b0.6d1478","type":"link out","z":"e3cbac21.52804","name":"to Log","links":["13c2aaaa.74d295","ed29f70d.9b66f8","f72ff61b.e8d618"],"x":1695,"y":200,"wires":[]},{"id":"fb714f6.286fcb","type":"template","z":"e3cbac21.52804","name":"Update Late to Handled","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE `log` SET status = 'Handled', statusTime = '{{timestamp}}' WHERE `sender` = {{sender}} AND `status` = 'Late';","output":"str","x":1390,"y":200,"wires":[["9666bf85.ccc7b"]]},{"id":"9666bf85.ccc7b","type":"sqlite","z":"e3cbac21.52804","mydb":"fd38eee5.8bd8a","sqlquery":"msg.topic","sql":"","name":"CaptureCall","x":1590,"y":200,"wires":[["bc4b27b0.6d1478"]]},{"id":"a7862417.604e88","type":"link in","z":"e3cbac21.52804","name":"Received Page","links":["c94a9d48.9c2c"],"x":55,"y":240,"wires":[["396b6af1.e70666"]]},{"id":"c94a9d48.9c2c","type":"link out","z":"e3cbac21.52804","name":"Add to DB","links":["a7862417.604e88"],"x":1055,"y":100,"wires":[]},{"id":"65be70e.baef89","type":"comment","z":"e3cbac21.52804","name":"Add to DB","info":"","x":100,"y":180,"wires":[]},{"id":"5652483b.e30f08","type":"link out","z":"e3cbac21.52804","name":"to Log","links":["13c2aaaa.74d295","ed29f70d.9b66f8","f72ff61b.e8d618"],"x":895,"y":240,"wires":[]},{"id":"bb983eee.bde5b","type":"debug","z":"e3cbac21.52804","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":60,"wires":[]},{"id":"f59f5f7.98040a","type":"http response","z":"71697e01.9871a","name":"","statusCode":"","headers":{},"x":630,"y":100,"wires":[]},{"id":"a125b940.011318","type":"template","z":"71697e01.9871a","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n    <style>\n        {{{global.css}}}\n    </style>\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n        <div class=\"clock\" id=\"time\"></div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\n\n</div>\n\n</body>\n\n</html>","output":"str","x":510,"y":100,"wires":[["f59f5f7.98040a"]]},{"id":"5aa898df.272f88","type":"change","z":"71697e01.9871a","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Dynamic Display","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":100,"wires":[["42f3db7d.cf6944"]]},{"id":"8aadd40d.caf278","type":"switch","z":"71697e01.9871a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"9999","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":300,"wires":[["d0672168.f9cc3"]]},{"id":"42f3db7d.cf6944","type":"template","z":"71697e01.9871a","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/display/receive');\nvar send = new WebSocket('ws://' + location.host + '/display/send');\nvar popup = new WebSocket('ws://' + location.host + '/display/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}","output":"str","x":390,"y":100,"wires":[["a125b940.011318"]]}]