flow.json
[{"id":"e3cbac21.52804","type":"tab","label":"Receive Page & Add to DB","disabled":false,"info":""},{"id":"71697e01.9871a","type":"tab","label":"Pager Dynamic Display","disabled":false,"info":""},{"id":"8ad92631.0da208","type":"websocket-listener","z":"","path":"/log-full/send","wholemsg":"true"},{"id":"c0402614.f01608","type":"websocket-listener","z":"","path":"/log-daily/receive","wholemsg":"true"},{"id":"aae6ab09.c69b28","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"false","out":"interbyte","addchar":false,"responsetimeout":""},{"id":"32989c5a.d6ee14","type":"websocket-listener","z":"","path":"/log-full/receive","wholemsg":"true"},{"id":"7016657f.45b3ec","type":"websocket-listener","z":"","path":"/ws/export","wholemsg":"false"},{"id":"ff68c365.94b25","type":"websocket-listener","z":"","path":"/ws/sender","wholemsg":"false"},{"id":"d9d1357a.d4f118","type":"websocket-listener","z":"","path":"/display/receive","wholemsg":"true"},{"id":"95962f80.19ef3","type":"websocket-listener","z":"","path":"/display/send","wholemsg":"false"},{"id":"c7526c07.3fd51","type":"websocket-listener","z":"","path":"/log-daily/send","wholemsg":"true"},{"id":"66911507.b23eac","type":"websocket-listener","z":"","path":"/settings/send","wholemsg":"true"},{"id":"70e142c2.27546c","type":"websocket-listener","z":"","path":"/settings/receive","wholemsg":"true"},{"id":"c78d8a51.8b8ed8","type":"websocket-listener","z":"","path":"/export/send","wholemsg":"true"},{"id":"b7dfd67b.7d7948","type":"websocket-listener","z":"","path":"/export/receive","wholemsg":"true"},{"id":"18f900b5.35f87f","type":"websocket-listener","z":"","path":"/export/alert","wholemsg":"false"},{"id":"fbe048ec.4af8a8","type":"websocket-listener","z":"","path":"/settings/alert","wholemsg":"false"},{"id":"8c6bc6b9.fb7378","type":"json-db-collection","z":"","name":"Data","collection":"data","save":true},{"id":"4710f982.70cf68","type":"comment","z":"71697e01.9871a","name":"Put Unprocessed On the Webpage","info":"","x":180,"y":200,"wires":[]},{"id":"e0f58654.122608","type":"http in","z":"71697e01.9871a","name":"","url":"/display","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["5aa898df.272f88"]]},{"id":"f7505d48.4c652","type":"websocket out","z":"71697e01.9871a","name":"","server":"d9d1357a.d4f118","client":"","x":1280,"y":300,"wires":[]},{"id":"ec0a00fc.9e591","type":"comment","z":"71697e01.9871a","name":"Build Webpage","info":"","x":120,"y":20,"wires":[]},{"id":"7392b6bc.a14758","type":"template","z":"71697e01.9871a","name":"Build Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <div class=\"nested\">\n        <div class=\"bold\">Index</div>\n        <div class=\"bold\">Location</div>\n        <div class=\"bold\">Message</div>\n        <div class=\"bold\">Time</div>\n        <div class=\"bold\">Elapsed</div>\n      </div>\n{{#payload}}\n  <div class=\"nested {{style}}\" onclick= send.send('{{index}}')>\n        <div>{{{index}}}</div>\n        <div>{{{msgPart1}}}</div>\n        <div>{{{msgPart2}}}</div>\n        <div>{{{displayTime}}}</div>\n        <div>{{{elapsed}}}</div>\n      </div>\n{{/payload}}","output":"str","x":1090,"y":300,"wires":[["f7505d48.4c652"]]},{"id":"bb825032.7b416","type":"function","z":"71697e01.9871a","name":"Convert Time to local","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n   var rxtime = new Date(msg.payload[i].rxTime);\n                var displayDate = rxtime.toLocaleDateString();\n                var displayTime = rxtime.toLocaleTimeString();\n                \n                msg.payload[i].displayDate = displayDate\n                msg.payload[i].displayTime = displayTime\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":300,"wires":[["f2e91aec.429a48"]]},{"id":"f2e91aec.429a48","type":"function","z":"71697e01.9871a","name":"Time elapsed","func":"var array = msg.payload\nvar i;\nfor (i = 0; i < array.length; i++) { \n   var rxtime = msg.payload[i].rxTime;\n   var now = Date.now();\n   \nvar elapsedTS = now -rxtime;\nvar elapsedS = parseInt(elapsedTS / 1000);\n\nvar date = new Date(null);  \ndate.setSeconds(elapsedS); // specify value for SECONDS here\nvar elapsed = date.toISOString().substr(11, 8);        \n\nmsg.payload[i].elapsed = elapsed\n\n}\n    \n \n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":300,"wires":[["7392b6bc.a14758"]]},{"id":"59111fba.a2419","type":"inject","z":"71697e01.9871a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["257a7fa7.88b53"]]},{"id":"1833996c.e996c7","type":"http in","z":"71697e01.9871a","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":90,"y":60,"wires":[["5aa898df.272f88"]]},{"id":"fda68550.35cc08","type":"websocket in","z":"71697e01.9871a","name":"","server":"95962f80.19ef3","client":"","x":130,"y":460,"wires":[["8aadd40d.caf278"]]},{"id":"f9e6a6b0.64ce98","type":"comment","z":"71697e01.9871a","name":"Hide Message on Click","info":"","x":140,"y":420,"wires":[]},{"id":"c3a1b49e.752c48","type":"switch","z":"e3cbac21.52804","name":"Filter Address","property":"sysID","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":140,"wires":[["c94a9d48.9c2c"]]},{"id":"1ae8cc9.0850d33","type":"comment","z":"e3cbac21.52804","name":"Receive Page","info":"","x":110,"y":80,"wires":[]},{"id":"9cb10731.0e0a38","type":"serial in","z":"e3cbac21.52804","name":"","serial":"aae6ab09.c69b28","x":110,"y":140,"wires":[["b47a3123.3b208"]]},{"id":"b47a3123.3b208","type":"switch","z":"e3cbac21.52804","name":"MSG Type","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"[","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":140,"wires":[["bfec026c.c4148"],["d6264d72.9b56e"]]},{"id":"bfec026c.c4148","type":"function","z":"e3cbac21.52804","name":"LRS Process Group Message","func":"var payload = msg.payload;\nvar Totallength = payload.length;\n\nvar page = payload.substring(9, Totallength -2);\n\n\nvar str = \"\" + page;\nvar split = str.split(\",\");\nvar contentlength = split[1].length\n\n\n\nvar capcode = split[0];\nvar str = capcode.toString();\nvar strLength = str.length;\nvar pagerStr = str.substring(strLength - 5, strLength);\nvar pagercalc1 = parseInt(pagerStr);\nvar pager = pagercalc1/8;\n\nvar syscode = ((capcode - pagercalc1)-700000)/100000;\n\nif (page.endsWith(\" \")) {\n    var message= split[1].substring(4,contentlength-1)\nvar tidyMessage = message.trim();\n    msg.sender = \"0\"\n} else {\n    var message= split[1].substring(4,contentlength-2)\nvar tidyMessage = message.trim();\n    var sender = split[1].substring(contentlength-2,contentlength)\n    var tidySender = sender.trim();\n    msg.sender = tidySender;\n}\n\nvar group= split[1].substring(0,4)\n\nmsg.capcode = split[0];\nmsg.pagerNumber = group;\nmsg.sysID = syscode\nmsg.content = tidyMessage;\nmsg.payload = page\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["7e312125.1eb7b"]]},{"id":"d6264d72.9b56e","type":"function","z":"e3cbac21.52804","name":"LRS Process Normal Message","func":"var payload = msg.payload;\nvar Totallength = payload.length;\n\nvar page = payload.substring(9, Totallength -2);\n\n\nvar str = \"\" + page;\nvar split = str.split(\",\");\nvar contentlength = split[1].length\n\n\n\nvar capcode = split[0];\nvar str = capcode.toString();\nvar strLength = str.length;\nvar pagerStr = str.substring(strLength - 5, strLength);\nvar pagercalc1 = parseInt(pagerStr);\nvar pager = pagercalc1/8;\n\nvar syscode = ((capcode - pagercalc1)-700000)/100000;\n\nif (page.endsWith(\" \")) {\n    var message= split[1].substring(0,contentlength-1)\nvar tidyMessage = message.trim();\n    msg.sender = \"0\"\n} else {\n    var message= split[1].substring(0,contentlength-2)\nvar tidyMessage = message.trim();\n    var sender = split[1].substring(contentlength-2,contentlength)\n    var tidySender = sender.trim();\n    msg.sender = tidySender;\n}\n\n\nmsg.capcode = split[0];\nmsg.pagerNumber = pager\nmsg.sysID = syscode\nmsg.content = tidyMessage;\nmsg.payload = page\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["7e312125.1eb7b"]]},{"id":"7e312125.1eb7b","type":"function","z":"e3cbac21.52804","name":"Split Content into 2","func":"var payload = msg.content;\n\nvar str = \"\" + payload;\nvar split = str.split(\"-\");\n\nmsg.msgPart1 = split[0];\nmsg.msgPart2 = split[1];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":140,"wires":[["c3a1b49e.752c48"]]},{"id":"396b6af1.e70666","type":"change","z":"e3cbac21.52804","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":280,"wires":[["b18ff890.7540a8"]]},{"id":"bc4b27b0.6d1478","type":"link out","z":"e3cbac21.52804","name":"to Log","links":["13c2aaaa.74d295","ed29f70d.9b66f8","f72ff61b.e8d618","371bf85c.05bbb8"],"x":535,"y":240,"wires":[]},{"id":"a7862417.604e88","type":"link in","z":"e3cbac21.52804","name":"Received Page","links":["c94a9d48.9c2c"],"x":55,"y":280,"wires":[["396b6af1.e70666"]]},{"id":"c94a9d48.9c2c","type":"link out","z":"e3cbac21.52804","name":"Add to DB","links":["a7862417.604e88"],"x":1055,"y":140,"wires":[]},{"id":"65be70e.baef89","type":"comment","z":"e3cbac21.52804","name":"Add to DB","info":"","x":100,"y":240,"wires":[]},{"id":"f59f5f7.98040a","type":"http response","z":"71697e01.9871a","name":"","statusCode":"","headers":{},"x":750,"y":100,"wires":[]},{"id":"a125b940.011318","type":"template","z":"71697e01.9871a","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    \n    <title>{{title}}</title>\n\n    <script>\n        {{{script}}}\n    </script>\n    \n    <style>\n        {{{global.css}}}\n    </style>\n\n</head>\n\n<body onload=\"startTime()\">\n\n<div class=\"heading\">\n          \n    <div class=\"left\">{{{global.left}}}</div>\n    \n    <div class=\"middle\">\n        <h1 id=\"title\">{{title}}</h1>\n    </div>\n    \n    <div class=\"right\">\n        <div class=\"clock\" id=\"time\"></div>\n    </div>\n    \n</div>\n\n<div class=\"wrapper\" id=\"data\">\n\n</div>\n\n</body>\n\n</html>","output":"str","x":630,"y":100,"wires":[["f59f5f7.98040a"]]},{"id":"5aa898df.272f88","type":"change","z":"71697e01.9871a","name":"Title","rules":[{"t":"set","p":"title","pt":"msg","to":"CaptureCall Lite","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":100,"wires":[["7d1ec8d1.6110e8"]]},{"id":"42f3db7d.cf6944","type":"template","z":"71697e01.9871a","name":"Script","field":"script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var receive = new WebSocket('ws://' + location.host + '/display/receive');\nvar send = new WebSocket('ws://' + location.host + '/display/send');\nvar popup = new WebSocket('ws://' + location.host + '/display/alert');\n\n\nvar msg = 0; // Make Incoming WS Global\n\n// Change Main Data\nreceive.onmessage = function(d) {\n    var txt = d.data;\n    msg = JSON.parse(txt);\n    console.log(msg);\n    document.getElementById(\"data\").innerHTML = msg.payload;\n};\n\n// Display Popup\npopup.onmessage = function(d) {\n    var txt = d.data;\n    console.log(txt);\n   alert(txt);\n};\n        \n// When the connection is open, send some data to the server\nsend.onopen = function() {\n    console.log('WebSocket Open');\n    send.send('Open');\n};\n\n\nfunction startTime() { //Clock\n    var today = new Date();\n    var h = today.getHours();\n    var m = today.getMinutes();\n    var s = today.getSeconds();\n    m = checkTime(m);\n    s = checkTime(s);\n    document.getElementById('time').innerHTML = h + \":\" + m + \":\" + s;\n    var t = setTimeout(startTime, 500);\n} \n\nfunction checkTime(i) {\n    if (i < 10) {i = \"0\" + i}  // add zero in front of numbers < 10\n    return i;\n}","output":"str","x":510,"y":100,"wires":[["a125b940.011318"]]},{"id":"918e3d82.edff7","type":"template","z":"e3cbac21.52804","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{\n\"capcode\" : \"{{capcode}}\",\n\"pagerNumber\" : \"{{pagerNumber}}\",\n\"sysID\" : \"{{sysID}}\",\n\"content\" : \"{{content}}\",\n\"msgPart1\" : \"{{msgPart1}}\",\n\"msgPart2\" : \"{{msgPart2}}\",\n\"sender\" : \"{{sender}}\",\n\"timestamp\" : {{timestamp}},\n\"index\" : \"{{payload}}\",\n\"rxTime\" : {{timestamp}},\n\"status\" : \"active\"\n}]","output":"json","x":440,"y":280,"wires":[["bc4b27b0.6d1478","a462debc.4051f"]]},{"id":"7d1ec8d1.6110e8","type":"template","z":"71697e01.9871a","name":"CSS","field":"css","fieldType":"global","format":"css","syntax":"mustache","template":"* {\n      padding: 0px;\n      margin: 0;\n      box-sizing: border-box;\n      background: #456FA0;\n}\n\nh1 {\n      padding: 10px;\n      text-align: center;\n}\n\nhtml,\nbody,\np {\n      font-family: Arial, Helvetica, sans-serif;\n      font-size: 1vw;\n      margin: 0px;\n      padding-left: 0px;\n      color: white;\n}\n\n.wrapper {\n      display: grid;\n}\n\n.heading {\n      width: 100%;\n      display: grid;\n      grid-template-columns: 25% 50% 25%;\n      grid-gap: 0em;\n      height: auto;\n      padding: 10px;\n}\n\n.left {\n      text-align: left;\n}\n\n.middle {\n      text-align: center;\n}\n\n.right {\n      text-align: right;\n}\n    \n.clock {\n        font-size: 2vw;\n        padding-top:10px;\n        font-weight: bold;\n}\n\n.nested {\n      display: grid;\n      justify-content: space-evenly;\n      align-content: center;\n      grid-template-columns: repeat(5, 1.5fr);\n      font-size: 1.5vw;\n      text-align: center;\n      color: black;\n}\n    \n.nestedLog {\n      display: grid;\n      justify-content: space-evenly;\n      align-content: center;\n      grid-template-columns: repeat(12, 1fr);\n      font-size: 1vw;\n      text-align: center;\n      color: black;\n}\n\n.nested10 {\n      display: grid;\n      justify-content: space-evenly;\n      align-content: center;\n      grid-template-columns: repeat(10, 1fr);\n      font-size: 1vw;\n      text-align: center;\n      color: black;\n}\n\n.wrapper>div {\n      background: #eee;\n      padding: 0.5em;\n}\n\n.wrapper>div:nth-child(odd) {\n      background: #ddd;\n}\n\n.nested>div {\n      padding: 0.5em;\n      background-color: inherit;\n}\n    \n.nestedLog>div {\n      padding: 0.5em;\n      background-color: inherit;\n}\n\n.nested10>div {\n      padding: 0.5em;\n      background-color: inherit;\n}\n\n.bold {\n      font-weight: bold;    \n}\n\n.flash {\n      color: red;\n}\n    \n.red {\n      color: red;\n}\n\n    a:link {\n      text-decoration: none;\n      color: white;\n    }\n\n    a:visited {\n      text-decoration: none;\n      color: white;\n    }\n\n    a:hover {\n      color: red;\n    }\n    \n#notes {\n    font-size: 1.5vw;\n}\n       .grid-container {\n            display: grid;\n            grid-template-columns: auto;\n            padding: 0px;\n        }\n\n        .grid-item {\n            padding: 20px;\n            font-size: 48px;\n            text-align: center;\n        }\n        \n.name {\n            box-sizing: border-box;\n            width: 50%;\n            border-radius: 10px;\n            font-weight: normal;\n            font-size: 1vw;\n            font-family: Arial, Helvetica, sans-serif;\n            text-align: center;\n            padding: 10px;\n            margin: 0px;\n            text-overflow: ellipsis;\n            box-shadow: 10px 10px 20px black;\n            background-color: lightgrey;\n }\n","output":"str","x":390,"y":100,"wires":[["42f3db7d.cf6944"]]},{"id":"b18ff890.7540a8","type":"counter","z":"e3cbac21.52804","inc":1,"name":"","x":300,"y":280,"wires":[["918e3d82.edff7"]]},{"id":"371bf85c.05bbb8","type":"link in","z":"71697e01.9871a","name":"","links":["bc4b27b0.6d1478","903388c8.aa0e28"],"x":175,"y":340,"wires":[["257a7fa7.88b53"]]},{"id":"a462debc.4051f","type":"DataIn","z":"e3cbac21.52804","collection":"8c6bc6b9.fb7378","name":"","update":true,"path":"/","x":570,"y":280,"wires":[]},{"id":"257a7fa7.88b53","type":"DataOut","z":"71697e01.9871a","collection":"8c6bc6b9.fb7378","name":"","path":"/","error":false,"x":250,"y":300,"wires":[["de524268.54b11"]]},{"id":"72011e58.4e622","type":"inject","z":"e3cbac21.52804","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":400,"wires":[["f200e0ad.e5cd2"]]},{"id":"f200e0ad.e5cd2","type":"DataIn","z":"e3cbac21.52804","collection":"8c6bc6b9.fb7378","name":"","update":false,"path":"/","x":210,"y":400,"wires":[]},{"id":"5916e996.14ed28","type":"comment","z":"e3cbac21.52804","name":"Clear DB on Boot","info":"","x":120,"y":360,"wires":[]},{"id":"9637d2ec.e1fea","type":"websocket in","z":"71697e01.9871a","name":"","server":"95962f80.19ef3","client":"","x":130,"y":240,"wires":[["ca00ac9b.c0a53"]]},{"id":"ca00ac9b.c0a53","type":"switch","z":"71697e01.9871a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":240,"wires":[["257a7fa7.88b53"]]},{"id":"8aadd40d.caf278","type":"switch","z":"71697e01.9871a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"9999","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":460,"wires":[["d5eda818.588498"]]},{"id":"c832f51e.327c58","type":"DataOut","z":"71697e01.9871a","collection":"8c6bc6b9.fb7378","name":"","path":"/","error":false,"x":630,"y":460,"wires":[["61ad00a.9f06f"]]},{"id":"61ad00a.9f06f","type":"function","z":"71697e01.9871a","name":"Remove Clicked from DB","func":"var array = msg.payload;\nvar removeIndex = msg.removeIndex\n\nfunction checkIndex (array) {\n    return array.index != removeIndex;\n}\n\n\nmsg.payload = array.filter(checkIndex);\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":460,"wires":[["fe2d74fe.a5d378","903388c8.aa0e28"]]},{"id":"d5eda818.588498","type":"change","z":"71697e01.9871a","name":"","rules":[{"t":"set","p":"removeIndex","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":460,"wires":[["c832f51e.327c58"]]},{"id":"fe2d74fe.a5d378","type":"DataIn","z":"71697e01.9871a","collection":"8c6bc6b9.fb7378","name":"","update":false,"path":"/","x":990,"y":460,"wires":[]},{"id":"903388c8.aa0e28","type":"link out","z":"71697e01.9871a","name":"to Log","links":["13c2aaaa.74d295","ed29f70d.9b66f8","f72ff61b.e8d618","371bf85c.05bbb8"],"x":955,"y":420,"wires":[]},{"id":"96cf7b8b.02bca8","type":"function","z":"71697e01.9871a","name":"Limit DB to 32","func":"var maxDB = 32;\nvar array = msg.payload;\nvar length = array.length;\nvar difference = length - maxDB;\n\nif (length > maxDB) {\nvar i;\nfor (i = 0; i < difference; i++) { \narray.pop();\n}\n\nmsg.payload = array;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["bb825032.7b416"]]},{"id":"de524268.54b11","type":"sort","z":"71697e01.9871a","name":"","order":"descending","as_num":true,"target":"payload","targetType":"msg","msgKey":"index\t","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":370,"y":300,"wires":[["96cf7b8b.02bca8"]]},{"id":"74bc580f.194478","type":"DataOut","z":"e3cbac21.52804","collection":"8c6bc6b9.fb7378","name":"","path":"/","error":false,"x":210,"y":480,"wires":[["f782430e.21684"]]},{"id":"1e884813.ce73d8","type":"inject","z":"e3cbac21.52804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":480,"wires":[["74bc580f.194478"]]},{"id":"42f7375.2cb5dc8","type":"debug","z":"e3cbac21.52804","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":480,"wires":[]},{"id":"f782430e.21684","type":"csv","z":"e3cbac21.52804","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"pagerNumber,sysID,content,msgPart1,msgPart2,sender,index,status,displayTime,displayDate","skip":"0","x":330,"y":480,"wires":[["d141df22.0939a"]]},{"id":"7cce5d05.3a5704","type":"debug","z":"e3cbac21.52804","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":580,"wires":[]},{"id":"fa52a9e3.422658","type":"file","z":"e3cbac21.52804","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":730,"y":480,"wires":[["42f7375.2cb5dc8"]]},{"id":"b3f91243.fbac","type":"template","z":"e3cbac21.52804","name":"","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/media/usb0/log/{{timestamp}}.csv","output":"str","x":600,"y":480,"wires":[["fa52a9e3.422658"]]},{"id":"d141df22.0939a","type":"change","z":"e3cbac21.52804","name":"Time Now","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":480,"wires":[["b3f91243.fbac"]]}]